---
import NavigateBottom from "@/components/blog/NavigateBottom.astro";
import Title from "@/components/blog/Title.astro";
import TopLevelHeading from "@/components/blog/TopLevelHeading.astro";
import Categories from "@/components/blog/Categories.astro";
import BlogPost from "@/layouts/BlogPost.astro";
import {
    getCollection,
    getEntries,
    getEntry,
    type CollectionEntry,
} from "astro:content";
import dayjs from "dayjs";
import "dayjs/locale/th";
import buddhistEra from "dayjs/plugin/buddhistEra";
export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"blog">;
// dayjs.extend(LocalizedFormat);
dayjs.extend(buddhistEra);
dayjs.locale("th");
const post = Astro.props;

const categories = await getEntries(post.data.categories);
const author = await getEntry(post.data.author);
const { Content, headings } = await post.render();
---

<BlogPost {...post.data} slug={post.slug} headings={headings}>
    <div class="col-span-4">
        <main>
            <TopLevelHeading {...post} />
            <Title
                title={post.data.title}
                description={post.data.description}
                heroImage={post.data.heroImage}
            />
            <div class="markdown-render">
                <Content />
            </div>
            <NavigateBottom prev={post.data.prev} next={post.data.next} />
            <div
                class="text-balance text-sm leading-loose text-muted-foreground"
            >
                โดย <a class="underline" href={author.data.link}
                    >{author.data.title}</a
                >
                เมื่อ
                {dayjs(post.data.pubDate).format("DD MMMM BBBB")}
            </div>
            <Categories items={categories} />
        </main>
    </div>
</BlogPost>
