---
import { type CollectionEntry, getCollection, getEntries, getEntry } from 'astro:content';
import BlogPost from '@/layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await post.render();
const categories = await getEntries(post.data.categories);
const author = await getEntry('authors', post.data.author.id)
---

<BlogPost {...post.data} >
	---
	{author.data.name}
	<img src={post.data.heroImage} alt={post.data.title} />
	{categories.map( cate => <li>{cate.data.name} #{cate.id}</li>)}
	<Content />
	<!-- {JSON.stringify(post.data.author.id)} -->
</BlogPost>
