---
// component imports
import BlogCard from "@/components/BlogCard.astro";
import GlobalLayout from "@/layouts/Global.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
	.slice(0, 4);

const categories = await getCollection("categories");
---

<GlobalLayout>
	<div class="flex flex-col space-y-16">
		<section class="">
			<div class="flex items-center justify-between">
				<div class="space-y-1">
					<h2 class="text-2xl font-semibold tracking-tight">Fresh picks</h2><p
						class="text-sm text-muted-foreground"
					>
						Explore the latest and greatest blogs.
					</p>
				</div>
			</div>
			<div
				data-orientation="horizontal"
				role="none"
				class="shrink-0 bg-border h-[1px] w-full my-4"
			>
			</div>
			<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
				{
					posts.map((post) => (
						<BlogCard
							title={post.data.title}
							description={post.data.description}
							slug={post.slug}
							heroImage={post.data.heroImage}
						/>
					))
				}
			</div>
		</section>
		<section class="">
			<div class="flex items-center justify-between">
				<div class="space-y-1">
					<h2 class="text-2xl font-semibold tracking-tight">
						Categories picks
					</h2><p class="text-sm text-muted-foreground">Explore categories</p>
				</div>
			</div>
			<div
				data-orientation="horizontal"
				role="none"
				class="shrink-0 bg-border h-[1px] w-full my-4"
			>
			</div>
			<div class="grid grid-cols-6 gap-4">
				{
					categories.map((cate) => (
						<a class="space-y-3" href={`/categories/${cate.id}`}>
							<div class="overflow-hidden rounded-md">
								<img
									loading="lazy"
									width="150"
									height="150"
									src={cate.data.image}
									class=" h-auto w-auto object-cover transition-all hover:scale-105 aspect-square"
									alt={cate.data.title}
								/>
							</div>
							<div class="space-y-1 text-sm">
									<h3 class="font-medium leading-none">{cate.data.title}</h3>
									<p class="text-xs text-muted-foreground">Category</p>
							</div>
						</a>
					))
				}
			</div>
		</section>
	</div>
</GlobalLayout>
