---
import { Image } from 'astro:assets';
interface Props {
	title: string;
	description: string;
	slug: string
	heroImage ?: string

}
const props = Astro.props
const {heroImage = "/images/me.jpg"} = props
---

<a href={`/blog/${props.slug}`}>
	<div class="flex space-y-3 flex-col h-full">
		<div class="overflow-hidden rounded-md">
			<Image format="webp" quality={80} class="h-auto w-auto object-cover transition-all hover:scale-105 aspect-[3/4]"  loading="lazy" width="250" height="330"  src={heroImage} alt={props.title} />
		</div>
		<div class="space-y-1 flex flex-col overflow-hidden">
			<h3 class="font-medium leading-none overflow-ellipsis">
				{props.title}
			</h3>
			<p class="text-xs text-muted-foreground">
				{props.description}
			</p>
		</div>
	</div>
</a>