---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { MarkdownHeading } from "astro";
import AsideRight from "@/components/blog/AsideRight.astro";
import AsideLeft from "@/components/blog/AsideLeft.astro";
import AsideMenu from "@/components/blog/AsideMenu.astro";

type Props = CollectionEntry<"blog">["data"] & {
    slug: CollectionEntry<"blog">["slug"];
    headings: Array<MarkdownHeading>;
};

const props = Astro.props;
---

<BaseLayout
    title={props.title}
    description={props.description}
    image={props.heroImage}
>
    <div class="grid grid-cols-4 md:grid-cols-6 gap-4">
        <AsideMenu>
            <AsideLeft
                curCateSlug={props.categories[0].id}
                curSlug={props.slug}
            />
        </AsideMenu>
        <slot />

        <AsideMenu>
            <AsideRight headings={props.headings} />
        </AsideMenu>
    </div>
</BaseLayout>
